/* size */
$totalWidht : 100;

	/* header*/
	$headerHeight: 80px;
	$headerFontSize: 18px;
	$headerKerning: 1px;

	/*content*/
		$sectionHeight : 768px;
		/* about*/
		$sectionFontSizeH2: 35px;
		$sectionFontSizeP: 24px;

	/*footer*/
		$footerHeight : 250px;




/*fonts*/
$mainFont : "CaviarDreams";
$extraFont: "ClearSans";

/*link*/
$urlImg : "../img/";


/*other*/

$Opacity: 0.8;

