#footer{
	height: $footerHeight;
	font-family: $extraFont;
	display:flex;
	justify-content:space-around;
	font-size: 20px;
	
	li,address, address a{
		padding: 10px;
	}

	.footer_menu,.footer_contacts,.footer_social{
		margin-top: 30px;
	}

	.footer_contacts{
		text-align: center;

	}

	.footer_menu{
		text-align: left;
		
		a{
			transition: all .25s;
			text-transform: uppercase;
			border-bottom: transparent 1px solid;
			&:hover{
				transition: all .25s;
			}
		}
		
	}
	.footer_social{
		text-align: right;
	}

	h4{
		font-size: 25px;
		text-transform: uppercase;
		margin-bottom: 25px;
	}
}