body{
	
}

#header{
	letter-spacing:$headerKerning;
	font-size: $headerFontSize;
	text-transform: uppercase;
	justify-content:space-around;
	position: fixed;
	z-index: 1000;
	backface-visibility: hidden;
	display: inline-block;
	width: $totalWidht + 0%;
	
	
	div{
		line-height: $headerHeight;
		text-align: center;
		margin: 0;
		padding: 0;

	}
	.header_site_name{
		h1{
			height: 100%;
		}
	}
	.header_menu{
		ul{
			display: flex;
			flex-direction: row;
			justify-content:center;
			align-items: center;
			li{
				.active{
					transition: all .25s;
					border-bottom: 1px solid $bgColor;
				}
				line-height: $headerHeight;
				a{
					padding: 5px 0;
					margin: 0 10px;
					transition: all .25s;
					border-bottom: transparent 1px solid;
				&:hover{
					transition: all .25s;
					border-bottom: 1px solid $bgColor;
				}
				&:focus{
					outline: none;
				}

				}
			}
		} 
	}
	.mobile_button{
		display: none;
	}
	.mobile_menu_wrap{
		display: none;
	}
	.header_number{
		address{
			height: 20px;
			
		}
		.city{
			font-size: 14px;
			height: 0;

		}

	}

}




