body{
	
}

#header{
	letter-spacing:$headerKerning;
	font-size: $headerFontSize;
	text-transform: uppercase;
	position: fixed;
	z-index: 1000;
	backface-visibility: hidden;
	display: table;
	width: $totalWidht + 0%;
	height: 80px;
	
	
	.header_site_name,.header_menu,.header_number,.mobile_button{
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		height: 100%;

	}
	.header_site_name{
		width: 20%;
	}
	.header_menu{
    	margin: 0 auto;
		ul{
			li{
				display: inline-block;
				.active{
					transition: all .25s;
					border-bottom: 1px solid $bgColor;
				}
				a{
					padding: 5px 0;
					margin: 0 10px;
					transition: all .25s;
					border-bottom: transparent 1px solid;
				&:hover{
					transition: all .25s;
					border-bottom: 1px solid $bgColor;
				}
				&:focus{
					outline: none;
				}

				}
			}
		} 
	}
	.mobile_button{
		display: none;
	}
	.mobile_menu_wrap{
		
	}
	.header_number{
		width: 20%;
		address{
			margin: 0;
			
		}
		.city{
			font-size: 14px;
		}

	}

}

.table{
	display: table;
	width:100%;
}

.center{
	display: table-cell;
	vertical-align: middle;
}

.mobile_menu_wrap{
			width: 100%;
    		position: absolute;
		    margin: 0 auto;
		    background-color: rgba(#333,.95);
		    text-align: center;
		    top: 80px;
		    li{
		    	padding: 20px;
		    	a{
		    		display: block;
		    	}
		    }
		}


