@font-face {
	font-family: 'CaviarDreams';
	src: url('../fonts/CaviarDreams/CaviarDreams.eot');
    src: url('../fonts/CaviarDreams/CaviarDreams.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CaviarDreams/CaviarDreams.woff') format('woff'),
         url('../fonts/CaviarDreams/CaviarDreams.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}



@font-face {
	font-family: 'ClearSans';
	src: url('../fonts/ClearSans/ClearSans-Thin.eot');
    src: url('../fonts/ClearSans/ClearSans-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans/ClearSans-Thin.woff') format('woff'),
         url('../fonts/ClearSans/ClearSans-Thin.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'СlearSansRegular';
	src: url('../fonts/СlearSansRegular/СlearSansRegular.eot');
    src: url('../fonts/СlearSansRegular/СlearSansRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/СlearSansRegular/СlearSansRegular.woff') format('woff'),
         url('../fonts/СlearSansRegular/СlearSansRegular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'ClearSansLight';
	src: url('../fonts/ClearSansLight/ClearSansLight.eot');
    src: url('../fonts/ClearSansLight/ClearSansLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSansLight/ClearSansLight.woff') format('woff'),
         url('../fonts/ClearSansLight/ClearSansLight.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'BuilderIcons';
	src: url('../fonts/BuilderIcons/BuilderIcons.eot');
    src: url('../fonts/BuilderIcons/BuilderIcons.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BuilderIcons/BuilderIcons.woff') format('woff'),
         url('../fonts/BuilderIcons/BuilderIcons.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'BebasBold';
	src: url('../fonts/BebasBold/BebasBold.eot');
    src: url('../fonts/BebasBold/BebasBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasBold/BebasBold.woff') format('woff'),
         url('../fonts/BebasBold/BebasBold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

