@font-face {
	font-family: 'CaviarDreams';
	src: url('../fonts/CaviarDreams/CaviarDreams.eot');
    src: url('../fonts/CaviarDreams/CaviarDreams.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CaviarDreams/CaviarDreams.woff') format('woff'),
         url('../fonts/CaviarDreams/CaviarDreams.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}



@font-face {
	font-family: 'ClearSans';
	src: url('../fonts/ClearSans/ClearSans-Thin.eot');
    src: url('../fonts/ClearSans/ClearSans-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans/ClearSans-Thin.woff') format('woff'),
         url('../fonts/ClearSans/ClearSans-Thin.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

