@media only screen and (max-width : 1199px) {
	body #header{
		font-size: 14px;
		.header_menu{
			display: none;
		}
		.mobile_button{
			    display: table-cell;
			    width: 20%;
			    height: 100%;
			    vertical-align: middle;
			    margin: 0 auto;
			    text-align: center;
			.button_wrap{
				background-color: lighten(#333333,60%);
    			height: 40px;
			    width: 40px;
			    position: relative;
			    border-radius: 50%;
			    cursor: pointer;
			    margin: 0 auto;

			    .top_line,.down_line{
			    	background-color: #333;
    				height: 3px;
				    position: absolute;
				    width: 20px;
			    }
			    .top_line{
			    	top: 14px;
			    	transition: .7s;
			    	left: 10px;
			    	
			    }
			    .down_line{
			    	transition: .7s;
					left: 10px;
					top: 23px;
					
			    }
			    .top_line_open{
			    	top: 19px;
			    	transform: rotate(225deg);
			    }
			    .down_line_open{
			    	top: 19px;
					transform: rotate(-225deg);
			    }
			}
		}
		.header_number{
			.city{
				font-size: 12px;
			}
			
		}
	}
	#content .line{
		border-right: none;
	}

	body #content .content_services .content_services_cat .content_services_cat_outside{
		margin-top: 30px;
    	margin: 50px 0;
    	padding-top: 50px;
	}

	body #footer{
		font-size: 16px;
		h4{
			font-size: 20px;
		}
	}

	body #content #contacts .content_contacts_form{
		margin-top: 200px;
	}

}

@media only screen and (max-width : 767px) {
	body #header{
		font-size: 12px;

		h1{
			padding: 20px 0;
		}
		.mobile_button .button_wrap{
			    background-color: #cccccc;
			    border-radius: 50%;
			    cursor: pointer;
			    height: 40px;
			    margin: 0 auto;
		}


		 
	}
}
