/* color */

$mainColor : #333333;
$bgColor: #fff;


#header{
	font-family: $mainFont;
	background-color: $mainColor;
	color: $bgColor;
	a{
		color: $bgColor;
	}
}

#content{
	font-family: $extraFont;
}

h2{
	font-family: $mainFont;
}

section{
	font-family: $extraFont;
}

.content_about_cloth{
	background-color: rgba($mainColor, $Opacity);
}

.content_services{
	color: $mainColor;
}

.content_contacts{
	color: $bgColor;
}

.content_services_cat_inside ul:before{
	border-color: $mainColor;
}

.content_contacts_culc:before{
	border-color: $bgColor;
}

.content_contacts_cloth{
	background-color: rgba($mainColor, $Opacity);
}

input,textarea{
	color: darken($mainColor,20%);
}
button{
	background-color: lighten($mainColor,10%);
	&:hover{
		background-color:$mainColor;
	}
}

#footer{
	font-family: $mainFont;
	background-color: $mainColor;
	color: $bgColor;
}



