/* color */

$mainColor : #333333;
$bgColor: #fff;
$checkColor: #00B9EE;
$errorColor: #EC4B4B;


#header{
	font-family: $mainFont;
	background-color: $mainColor;
	color: $bgColor;
	a{
		color: $bgColor;
	}
}

#content{
	font-family: $extraFont;
}

h2{
	font-family: $mainFont;
}

section{
	font-family: $extraFont;
}

.content_about_cloth{
	background-color: rgba($mainColor, $Opacity);
}

.content_services{
	color: $mainColor;
}

.content_contacts{
	color: $bgColor;
}

.content_services_cat_inside ul:before{
	border-color: $mainColor;
}

.content_contacts_culc:before{
	border-color: $bgColor;
}

.content_contacts_cloth{
	background-color: rgba($mainColor, $Opacity);
}

input,textarea{
	color: lighten($mainColor,10%);
}
button{
	background-color: lighten($mainColor,10%);
	color:$bgColor;
	&:hover{
		background-color:$mainColor;
	}
}

body #content .content_contacts .content_contacts_wrap .culc_wrap .culc_form .culc_button_open{
	border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 14px solid $bgColor;
}

.culc_form_content{
	color:$bgColor;
}

.culc_form_open{
	background-color: rgba(darken($mainColor,10%), $Opacity + 0.16);
}

.culc_job{
	border-bottom: 1px solid $bgColor;
}

.check{
	background-color: $bgColor;
	border: 1px solid $bgColor;
}
.check_active{
	border: 1px solid lighten($checkColor,10%);
	background-color: $checkColor;

}

.culc_clear{
	background: $bgColor;
	color: $mainColor;
}


#footer,#footer a{
	font-family: $extraFont;
	background-color: $mainColor;
	color: $bgColor;
}

#footer .footer_menu a:hover{
	border-bottom: 1px solid $bgColor;
}

.inputError{
	border-color: $errorColor !important;
}



